.round-circle {
    border-radius: 50% !important;
    background-color: #b20e0e;
}

.round-circle:hover {
    background-color: #c22b2b;
}

ngb-progressbar {
    margin-top: 5rem;
}

:host ::ng-deep .page-header {
    height: 100vh;
}