<div class="wrapper">
  <div class="page-header" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/login.jpg');">

    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <div class="row">
          <div class="col-6">
            <h3>Rent Car :</h3>
            <button class="btn btn-primary btn-round round-circle" (click)="goToAvailableCarList()">
              <img src="assets/img/renting.jpg" alt="Circle Image" class="rounded-circle">
            </button>
          </div>
          <div class="col-6">
            <h3>Lease Car :</h3>
            <button class="btn btn-primary btn-round round-circle" (click)="goToLeasingForm()">
              <img src="assets/img/leasing.jpg" alt="Circle Image" class="rounded-circle">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>